global:

route:
  group_by: ['alertname', 'cluster']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  continue: true
  receiver: 'dev-slack'

receivers:
  - name: 'dev-slack'
    slack_configs:
      - send_resolved: true
        api_url: 'https://hooks.slack.com/services/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'
        channel: '#alerts'
