global:

route:
  group_by: ['alertname', 'cluster']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  continue: true
  receiver: 'dev-slack'

receivers:
  - name: 'dev-slack'
    slack_configs:
      - send_resolved: true
        api_url: 'https://hooks.slack.com/services/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'
        channel: '#dafarm'
        text: "{{ .CommonAnnotations.summary }}"
